  <div id='photo'>
    <img src="/assets/photo.png" alt="Photo of Andy">
  </div>
  <div id="text">
    <p>Ever since my grandfather gave me and my brother an Atari in the late 1980's, I have been fascinated by
      computers.
      There in Northern British Columbia Canada where I grew up, I started with simple programs in Basic.
      Our rural school only went to 10th grade, so I finished high school via distance education.
      When PC's came out, I learned assembly language from a book and wrote a program that integrated with a Panasonic
      phone
      system to sort by extension number, apply cost based on area codes, and bill for calls made on a 16-line Panasonic
      phone system.</p>
    <p>I later dabbled in phone apps with XCode, Visual Basic, Java, and HTML. All of this was in my free time,
      with my primary focus being the construction industry. Right out of high school,
      I took advantage of an opportunity to work with an experienced plasterer and painter instead of going into
      debt for more schooling. The pay was ample, and I have never regretted that decision. </p>
    <p>After 20 years I worked up to an estimating/project managing position, and it made sense to return to school.
      The online platforms at Prince Williams Sound Community College (general education requirements) and University of Alaska Southeast (business and accounting) enabled me to 
      obtain a Bachelor of Business Administration (with an Accounting Emphasis) in 5 years while continuing to work full time.  
      After relocating to Ascheville, North Carolina, I transitioned to East Carolina Univerity and recently graduated as a Master of Software Engineering.</p>
  </div>