<h3>Hello and Welcome!</h3>
<p>I'm Andy Florian based in Asheville, NC.<br>
  I recently graduated from East Carolina University with a Master's Degree in Software Engineering.</p>
  <hr>
  <h3>What do I do?</h3>
<p>
  <img alt="Angular"
    src="https://img.shields.io/badge/Angular-DD0031?logo=angular&logoColor=white&style=for-the-badge" />
  <img alt="JavaScript"
    src="https://img.shields.io/badge/JavaScript-F7DF1E?logo=javascript&logoColor=white&style=for-the-badge" />
  <img alt="HTML" src="https://img.shields.io/badge/HTML-E34F26?logo=html5&logoColor=white&style=for-the-badge" />
  <img alt="Css" src="https://img.shields.io/badge/CSS-1572B6?logo=css3&logoColor=white&style=for-the-badge" />
  <img alt="Sass" src="https://img.shields.io/badge/Sass-CC6699?logo=sass&logoColor=white&style=for-the-badge" />
</p>
<ul>
  <li>I’m currently setting up this website to display some projects.</li>
  <li>I estimate and manage electrical work in Alaska and Hawaii</li>
  <li>I renovate houses</li>
  <li>I enjoy hiking &amp; kayaking with my family of 4</li>
</ul>

<hr>
<h3>Github stats</h3>

<img align="center"
  src="https://github-readme-stats.vercel.app/api?username=andyhflo&count_private=true&title_color=FD9047&icon_color=FD9047&text_color=0C2233&custom_title=Andy+H+Flo's+GitHub+Stats&show_icons=true" />
  <hr>
  <h3>Projects</h3>
<h4 style="text-align:center">Estimating Prototype using Java & TomCat</h4>
<p> . . . (not currently hosted here)</p>

<h4 style="text-align:center">Auto-Count-Symbols-in-PDF</h4>
<p>(drag a small .pdf file onto this rectangle and wait for it to identify symbols)</p>
<iframe src="https://andyhflo.github.io/auto-count-symbols-in-pdf/src/web/autocount.html"></iframe>
<h4 style="text-align:center">Bible</h4>
<iframe src="https://bible.azurewebsites.net/esv"></iframe>

<h4 style="text-align:center">Nested prototype</h4>
<p> . . . (coming soon)</p>
<!-- <iframe src="https://andyhflo.github.io/nested" width="100%" height="500px"></iframe> -->
<!-- <h4 style="text-align:center">My Python site early on at ECU</h4>
    <iframe src="http://myweb.ecu.edu/student/floriana18/index.html"width="100%" height="500px"></iframe> -->
    <hr>
<h3>Contact</h3>
<ul>
  <li>If you are interested in collaborating you can find me here:</li>
</ul>

<p>
  <a href="https://www.linkedin.com/in/andyhflo/"><img alt="Linkedin"
      src="https://img.shields.io/badge/linkedin-0077B5?logo=linkedin&logoColor=white&style=for-the-badge" /></a>
</p>