    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andyhflo" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/andyhflo?trk=profile-badge"></a></div>
    <p>Here are some projects Andy has developed:</p>
    <h5 style="text-align:center">Estimating Prototype using Java & TomCat . . . (not currently hosted here)</h5>
    <h5 style="text-align:center">auto-count-symbols-in-pdf</h5>
    <iframe src="https://andyhflo.github.io/auto-count-symbols-in-pdf/src/web/autocount.html"width="100%" height="500px"></iframe>
    <h5 style="text-align:center">Nested prototype . . . (coming soon)</h5>
    <!-- <iframe src="https://andyhflo.github.io/nested" width="100%" height="500px"></iframe> -->
  

